
<% @product.reviews.reverse_each do |rev| %>
<tr>

  <td>
    <h5><%= User.find(rev.user_id).email %></h5>
    <br>
    <p><%= rev.description %></p>
  </td>
  <td>
    <%= rev.rating %>
  </td>
  <td>
    <% if current_user %>
      <% if current_user.id == rev.user_id %>
        <%= link_to fa_icon('trash'), product_review_path(@product, rev), class: 'btn btn-sm btn-danger', method: :delete, data: { confirm: "Are you sure?" } %>
        <% end %>
      <% end %>
    </td>
</tr>
<% end %>
